html {
    position: relative;
    box-sizing: border-box;
}

:root {
    --main-color: #FFFFFF;
    --secondary-color: #2D2D2D;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;    
    color: $main-color;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

fieldset {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1830px;
    padding: 0 30px;
    margin: 0 auto;
    
    @include lg {
        max-width: 1240px;
    }
    @include md {
        max-width: 850px;
    }
    @include sm {
        max-width: 600px; 
        padding: 0 20px;     
    }
}

@-ms-viewport{
    width: device-width;
}