.recommended {
    padding: 25px 0 150px;
    color: $secondary-color;

    @include lg {
        padding: 30px 0 100px;
    }    
    @include md {
        padding: 30px 0 80px;
    }    
    @include sm {
        padding: 25px 0 50px;
    }

    &__title {
        font-size: 50px;
        margin-bottom: 30px;
    
        @include lg {
            font-size: 30px;
        }      
        @include sm {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
}

