.article__main {
    padding: 15px 0 150px;
}

.article__container_grid {
    display: grid;
    grid-template-columns: minmax(700px, 1210px) minmax(450px, 532px);
    grid-template-areas: 
        'breadcrumbs .'
        'article addv';
    align-items: flex-start;
    gap: 80px 30px;
}

.breadcrumbs__list {
    grid-area: breadcrumbs;
    font-size: 16px;
    color: #525252;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs__link {
    font-size: 16px;
    color: #525252;
    transition: .2s ease-out;
}

.breadcrumbs__link:hover {
    color: #3670C7;
}

.article {
    grid-area: article;
    color: #2D2D2D;
    max-width: 1095px;
}

.article__title {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 0;
}

.article__texts {
    margin-bottom: 150px;
    font-size: 22px;
    line-height: 150%;
    font-weight: 400;
}

.article__text {
    margin-bottom: 33px;
}

.article__text:last-child {
    margin: 0;
}

.article__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.article__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2D2D2D;
    transition: .2s ease-out;
}

.article__link:hover {
    color: #3670C7;
}

.article__info {
    font-size: 16px;
    color: #8F8F8F;
}

.article__author {
    font-size: 22px;
    line-height: 150%;
    color: #000;
    margin-bottom: 20px;
    text-align: end;
}

.article__date {
    margin-bottom: 16px;
}

.article__statistic {
    display: flex;
    gap: 37px;
}

.article__views {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.article__comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.add {
    grid-area: addv;
    max-width: 532px;
}

.add__item {
    background: center/cover;
    margin-bottom: 50px;
    max-width: 532px;
    height: 328px;
}

.add__item:last-child {
    margin-bottom: 0;
}

.add__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 43px 30px 43px 30px;
    background-position: center;
}

.add__title {
    font-size: 32px;
    margin-bottom: 4px;
}

.add__slogan {
    font-size: 16px;
}

@media (max-width: 1240px) {
    .article__main {
        padding: 10px 0 100px;
    }
    .article__container_grid {
        grid-template-columns: minmax(450px, 820px) minmax(270px, 300px);
        gap: 60px 20px;
    }
    .article__title {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .article__texts {
        margin-bottom: 130px;
        font-size: 18px;
    }
    .article__text {
        margin-bottom: 33px;
    }

    .article__link {
        font-size: 14px;
    }
    .article__info {
        font-size: 14px;
    }
    .article__author {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .article__date {
        margin-bottom: 5px;
    }
    .add {
        max-width: 964px;
    }

    .add__item {
        margin-bottom: 40px;
        max-width: 300px;
        height: 254px;
    }
    .add__title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .add__slogan {
        font-size: 14px;
    }

    .add__link {
        padding: 20px 15px;
    }
}

@media (max-width: 850px) {
    .article__main {
        padding: 10px 0 80px;
    }
    .article__container_grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'breadcrumbs'
            'article'
            'addv';
        gap: 50px 0;
    }
    .breadcrumbs__list {
        font-size: 14px;
    }
    .breadcrumbs__link {
        font-size: 14px;
        gap: 5px;
    }
    .article__title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .article__texts {
        font-size: 16px;
        margin-bottom: 126px;
    }
    
    .article__link {
        font-size: 14px;
    }
    .add__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .add__item {
        max-width: 320px;
        height: 253px;
        margin-bottom: 0;
        flex: 1 0 45%;
    }
    .add__title {
        font-size: 22px;
    }

    .add__slogan {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .article__main {
        padding: 10px 0 52px;
    }
    .article__container_grid {
        gap: 30px 0;
        margin: 0;
    }
    
    .breadcrumbs__list {
        font-size: 8px;
        gap: 5px;
    }
    .breadcrumbs__item {
        gap: 5px;
    }
    .breadcrumbs__link {
        font-size: 8px;
        gap: 0;
    }
    .article__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .article__texts {
        font-size: 12px;
        margin-bottom: 123px;
    }
    .article__link {
        font-size: 10px;
    }

    .article__info {
        font-size: 10px;
    }
    .article__author {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .add {
        display: none;
    }
}