.banner {
    padding: 45px 0 30px;
}

.banner__wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('../imgs/banner-full.jpg') center/115% no-repeat;
    max-width: 1770px;
    line-height: 130%;
    border-radius: 20px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.banner__link {
    width: 100%;
    height: 100%;
    display: block;
    padding: 150px 0 45px;
}

.banner__caption {
    font-size: 70px;
    line-height: 130%;
    margin-bottom: 95px;
    padding-left: 112px;
    display: inline-block;
}

.timer__title {
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 17px;
}

.banner__timer {
    max-width: 620px;
    margin: 0 auto;
    min-height: 104px;
}

.timer__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    /* gap: 30px; */
}

.timer__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 6px;
    flex: 1 0 33%;
}

.timer__count {
    font-size: 60px;
    line-height: 1;
    flex: 1 0 30%;
}

.timer__units {
    font-size: 32px;
    line-height: 1.4;
    flex: 1 0 70%;
}

@media (max-width: 1240px) {
    .banner__link {
        padding: 83px 0 40px;
    } 
    .banner__caption {
        font-size: 40px;
        max-width: 300px;
        padding-left: 80px;
        margin-bottom: 9px;
    }
    .banner__timer {
        max-width: 400px;
        min-height: 83px;
    }   
    .timer__items {
        /* gap: 20px; */
    }
    .timer__item {
        gap: 8px;
    } 
    .timer__count {
        font-size: 40px;
    } 
    .timer__units {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .banner {
        padding: 30px 0 11px;
    }
    .banner__wrapper {
        max-width: 940px;
        background-size: cover;
        border-radius: 16px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 25px 0 20px;
    }
    .banner__wrapper {
        max-width: 700px;
        background-size: cover;
    }
    .banner__link {
        padding: 68px 0 32px;
    } 
    .banner__caption {
        font-size: 30px;
        max-width: 100%;
        margin-bottom: 80px;
    }
    .timer__title {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .banner__timer {
        max-width: 320px;
        min-height: 65px;
    }
    .timer__items {
        /* gap: 10px; */
    }
    .timer__item {
        gap: 4px;
    }
    .timer__count {
        font-size: 30px;
    }
    .timer__units {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media (max-width: 510px) {
    .banner__caption {
        padding-left: 40px;
        padding-right: 40px;
    }    
}

@media (max-width: 400px) {
    .banner {
        padding: 21px 0 10px;
    }
    .banner__wrapper {
        max-width: 280px;
        background-size: cover;
        border-radius: 8px;
    }
    .banner__link {
        padding: 50px 29px 34px;
        min-height: 340px; 
        display: grid;       
        grid-template-rows: 1fr max-content max-content;
    }
    .banner__caption {
        font-size: 22px;
        max-width: 100%;
        padding: 0;
        align-self: start;
    }
    .timer__title {
        font-size: 8px;
        margin-bottom: 6px;
        align-self: start;
    }
    .banner__timer {
        width: 220px;
        min-height: 42px;
    } 
    .timer__items {
        /* gap: 8px; */
    }
    .timer__item {
        gap: 2px;
    }
    .timer__count {
        font-size: 20px;
    }
    .timer__units {
        font-size: 12px;
        line-height: 1.3;
    }
}