.blog {
    padding: 23px 0 150px;
}

.breadcrumbs__container {
    padding-bottom: 80px;
}

.blog__container {
    max-width: 1493px;
    padding: 0 50px;
    margin: 0 auto;
}

.blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 140px;
    margin-bottom: 100px;
}

.blog__item {
    max-width: 645px;
    font-size: 16px;
    color: #8F8F8F;
}

.blog__link {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.blog__image {
    width: 195px;
    height: 195px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.blog__title {
    font-size: 32px;
    color: #2D2D2D;
    margin-bottom: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog__date {
    margin-bottom: 40.5px;
}

.blog__data {
    display: flex;
    gap: 25px;
}

.blog__views {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.blog__comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.blog__pagination {
    max-width: 254px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination__pages {
    display: flex;
    gap: 6px;
    font-size: 16px;
    color: #2D2D2D;
}

.pagination__page {
    border-radius: 4px;
    border: 2px solid #2D2D2D;
    background-color: transparent;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 7px 0;
    font-weight: 700;
    transition: .3s ease-out;
}

.pagination__page:hover {
    color: #3670C7;
    border: 2px solid #3670C7;
}

.pagination__page.is-active {
    color: #3670C7;
    border: 2px solid #3670C7;
}

.pagination__left,
.pagination__right {
    color: #8F8F8F;
    border: none;
    background-color: transparent;
    transition: .3s ease-out;
}

.pagination__left:hover,
.pagination__right:hover {
    color: #3670C7;
}

.pagination__left.is-active,
.pagination__right.is-active {
    color: #3670C7;
}

.pagination__left.is-disabled,
.pagination__right.is-disabled {
    opacity: .65;
    pointer-events: none;
}

@media (max-width: 1240px) {
    .blog {
        padding: 10px 0 100px;
    }
    .breadcrumbs__container {
        padding-bottom: 60px;
    }
    .blog__list {
        gap: 30px 20px;
        margin-bottom: 80px;
    }
    .blog__container {
        max-width: 1180px;
        padding: 0 30px;
        margin: 0;
    }

    .blog__item {
        font-size: 14px;
    }
    .blog__link {
        gap: 20px;
    }
    .blog__image {
        width: 140px;
        height: 140px;
        border-radius: 16px;
    }
    .blog__title {
        font-size: 26px;
    }
    .blog__date {
        margin-bottom: 10px;
    }
}

@media (max-width: 850px) {
    .breadcrumbs__container {
        padding-bottom: 50px;
    }
    .blog {
        padding: 10px 0 80px;
    }
    .blog__list {
        grid-template-columns: 1fr;
        gap: 20px 0;
        margin-bottom: 56px;
    }
    .blog__pagination {
        max-width: 166px;
    }
    .pagination__pages {
        gap: 10px;
        font-size: 12px;
    }
    .pagination__page {
        width: 20px;
        height: 20px;
        padding: 1.5px 0;
    }
    .pagination__left,
    .pagination__right {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 600px) {
    .blog {
        padding: 6px 0 53px;
    }
    .breadcrumbs__container {
        padding-bottom: 31px;
        margin: 0;
    }
    .blog__container {
        padding: 0 20px;
    }
    .blog__image {
        width: 90px;
        height: 90px;
        border-radius: 8px;
    }
    .blog__list {
        margin-bottom: 40px;
    }

    .blog__item {
        font-size: 10px;
    }

    .blog__link {
        gap: 10px;
    }

    .blog__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .blog__date {
        margin-bottom: 2px;
    }
}
