.header {
    padding: 26px 0 45px;
}

.header__container {
    display: grid;
    grid-template-columns: minmax(150px, 212px) minmax(140px, 155px) minmax(200px, 757px) minmax(150px, 354px);
    grid-template-areas: 'logo menu-button search user-info';
    gap: 97px;
    align-items: center;
}

.header__logo {
    grid-area: logo;
    justify-self: start;
    padding-top: 14px;
    font-size: 0;
}

.header__menu-button {
    grid-area: menu-button;    
    justify-self: center;
    color: var(--main-color, #ffffff);
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    border-radius: 10px;
    padding: 9px 28px 12px 61px;
    background: url("../imgs/menu.svg") no-repeat center left 30px #3670C7;
    border: none;
}

.header__search {
    grid-area: search;
    background: #EFEFEF;
    border-radius: 30px;    
    display: grid;
    grid-template-columns: auto 101px;
    align-items: center;
}

.search__input {
    font-size: 16px;
    line-height: 1.3;
    color: #8F8F8F;  
    background: inherit;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 15px 10px 18px 40px;
    max-width: 100%;
}

.search__input::placeholder {
    font-size: 16px;
    line-height: 1.3;
    color: #8F8F8F;
}

.search__button {
    color: var(--main-color, #ffffff);
    background: url("../imgs/search.svg") no-repeat center #3670C7;
    border-radius: 30px;
    height: 100%;
    border: 0;
}

.header__user {
    grid-area: user-info;
    max-width: 354px;
    font-size: 16px;
    line-height: 130%;
    color: #2D2D2D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    justify-items: start;
    align-items: end;
}

.user__link {
    display: block;
}

.user__link::before {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto 4px;
    background: no-repeat center/auto;
}

.user__link_type_profile::before {
    background-image: url("../imgs/profile.svg");
}

.user__link_type_basket::before {
    background-image: url("../imgs/shopping_cart.svg");    
}

.user__link_type_favorite::before {
    background-image: url("../imgs/favorite.svg");
}

@media (max-width: 1500px) {
    .header__container {
        gap: 30px;
    }  
    .header__menu-button {
        justify-self: start;
    } 
    .header__user {
        gap: 40px;        
    } 
}

@media (max-width: 1240px) {
    .header {
        padding: 34px 0 30px;
    }
    .header__container{
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'logo user-info'
            'menu-button search';
        gap: 34px 50px;
    }
    .header__logo {
        padding-top: 8px;
    }
    .header__menu-button {
        padding: 11px 30px 10px 61px;
        background-position: center left 33px;
    }
    .header__user {
        max-width: 294px;
        justify-self: end;
    }
    .user__link::before {
        margin: 0 auto 5px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 25px 0;
    }
    .header__container{
        grid-template-columns: 115px 1fr;
        gap: 29px 45px;
    }
    .header__logo {
        width: 165px;
    }
    .header__logo svg{
        width: 165px;
        height: auto;
    }
    .header__menu-button {
        border-radius: 6px;
        font-size: 16px;
        line-height: 1.3;
        padding: 11px 21px 10px 49px;
        background-position: center left 24px;
        background-size: 18px;
    }
    .header__search {
        grid-template-columns: auto 82px;
    }
    .search__input {
        font-size: 12px;
        line-height: 1.35;
        padding: 13px 10px 13px 30px;
    }
    .search__input::placeholder {
        font-size: 12px;
    }
    .search__button {
        background-size: 22px;
    }
    .header__user {
        max-width: 221px;
        font-size: 12px;
        gap: 30px;
        justify-self: end;
        line-height: 1;
    }
    .user__link::before {
        width: 30px;
        height: 30px;
        margin: 0 auto 2px;
        background-size: 25px;
    }
    .user__link_type_profile::before {
        background-size: 20px;
    }
    .user__link_type_basket::before {
        background-size: 29px;
    }
    .user__link_type_favorite::before {
        background-size: 25px;
    }
}

@media (max-width: 500px) {
    .header__container{
        gap: 30px;
    }
    
}

@media (max-width: 460px) {
    .header {
        padding: 20px 0;
    }
    .header__container{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            'logo .'
            'menu-button user-info'
            'search search';
        gap: 20px;
    }
    .header__logo {
        width: 114px;
    }
    .header__menu-button {
        border-radius: 4px;
        font-size: 12px;
        padding: 8px 14px 6px 31px;
        background-position: center left 17px;
        background-size: 11px;
    }
    .header__search {
        grid-template-columns: 1fr 50px;
    }
    .search__input {
        font-size: 8px;
        line-height: 1.3;
        padding: 9px 10px 10px 16px;
    }
    .search__input::placeholder {
        font-size: 8px;
    }
    
    .search__button {
        background-size: 15px;
    }
    .header__user {
        max-width: 130px;
        gap: 20px;
        justify-self: end;
    }
    .user__text {
        display: none;
    }
}
