@font-face {
    font-family: Lato;
    src: local(Lato),
        url("../fonts/lato-regular.woff") format(woff),
        url("../fonts/lato-regular.woff2") format(woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: 
        url("../fonts/lato-bold.woff") format(woff),
        url("../fonts/lato-bold.woff2") format(woff2);
    font-weight: 700;
    font-display: swap;
}

body {    
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: #2D2D2D;
    background-color: #ffffff;
    margin: 0;
}

.main {
    max-width: 1764px;
    margin: 0 auto;
    padding: 100px 78px 0 78px;
}

.title {
    font-family: "Lato";
    font-size: 50px;
    margin: 0 0 58px 0;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    list-style-position: inside;
    padding: 0;
    margin: 0 0 49px 0;
}

.links__item {
    text-decoration: none;
    color: #525252;
    line-height: 1.5;
}
.wrapper {
    max-width: 1095px;
}

.foto {
    margin-bottom: 48px;
}

.foto-img {
    width: 100%;
    width: 1095px;
    height: 560px;
}

.text {
    margin: 0 0 50px 0;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.text_no-margin {
    margin-bottom: 0;
}

.caption {
    font-size: 22px;
    font-weight: normal;
}